<div class="container-cards">
  <div class="container-pagination" *ngIf="pag != 'home'">
    <div>
      <p class="tito"><strong>{{songsPerPage}}</strong> canzoni tra le ultime <strong>{{totalSongs}}</strong> uscite, pagina corrente: <strong>{{page}}</strong>
    </div>
    <p-paginator (onPageChange)="onPageChange($event)" [rows]="songsPerPage" [totalRecords]="totalSongs" (rowsPerPageOptionsChange)="songsPerPage"></p-paginator>
  </div>
  <div class="card-container" *ngFor="let song of songs | slice: (page * songsPerPage) - songsPerPage : page * songsPerPage">
    <div class="card">
      <div class="card-image" [ngStyle]="{'background-image': 'url(' + song.image + ')'}"></div>
      <div class="card-body">
        <h5 class="card-title">{{song.title}}</h5>
        <p class="card-text">
          Artista: {{song.artist}}<br>
          Album: {{song.album}}<br>
          Genere: {{song.genre}}<br>
          Data di uscita: {{song.date}}<br>
        </p>
        <a class="btn btn-primary" routerLink="/canzoni/dettaglio/{{song.title}}/{{song._id}}">Visualizza</a>
      </div>
    </div>
  </div>
</div>


