.icona-musicando {
  width: 50px;
  margin-right: 10px;
}

.mat-icon {
  // margin-right: 4px;
  // height: 20px;
  // width: 100%;
  // padding-top: 3px;
  color: white;
}

.nav-item {
  display: flex!important;
  align-items: center!important;
  padding-right: 30px;
}
