@import "../../../styles/colors.scss";

.icona-musicando {
  width: 50px;
  margin-right: 10px;
  cursor: pointer;
}

.mat-icon {
  // margin-right: 4px;
  // height: 20px;
  // width: 100%;
  // padding-top: 3px;
  color: white;
}

.nav-item {
  display: flex!important;
  align-items: center!important;
  padding-right: 30px;
}

.cerca {
  color: rgb(255, 255, 255);
  --bs-btn-color: #fff;
  --bs-btn-border-color: #fff;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: rgb(254, 215, 58);
  --bs-btn-hover-border-color: rgb(254, 215, 58);

}

.navbar-brand {
  margin-right: 60px;
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
  margin-bottom: 8px;
}

span.name {
  color: white;
}

@media only screen and (min-width: 0px) and (max-width: 480px) {
  .navbar-brand {
    margin-right: 0px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 1479px) {
  .navbar-brand {
    margin-right: 12px;
  }

  .nav-item {
    margin-right: 0px;
    padding-right: 0px;
  }
}
