<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark ">
    <div class="container-fluid">
      <img src="../../../assets/images/icona-musicando.png" class="icona-musicando" routerLink="home">
      <a class="navbar-brand" routerLink="home">Musicando</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a routerLink="home"><mat-icon>home</mat-icon></a>
            <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
          </li>
          <li class="nav-item">
            <a href="#"><mat-icon>music_note</mat-icon></a>
            <a class="nav-link active" routerLink="canzoni">Nuove uscite</a>
          </li>
          <li class="nav-item">
            <a href="#"><mat-icon>add</mat-icon></a>
            <a class="nav-link active" routerLink="canzoni/aggiungi">Aggiungi canzone</a>
          </li>
          <li class="nav-item dropdown">
            <mat-icon>library_music</mat-icon>
            <a class="nav-link dropdown-toggle active" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categorie
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Rock</a></li>
              <li><a class="dropdown-item" href="#">Classica</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#"><mat-icon>alternate_email</mat-icon></a>
            <a class="nav-link active" href="#">Contatti</a>
          </li>
          <li class="nav-item" *ngIf="!authService.isLogged()">
            <a href="#"><mat-icon>person</mat-icon></a>
            <a class="nav-link active" routerLink="/login">Accedi</a>
          </li>
          <li class="nav-item" *ngIf="authService.isLogged()">
            <a><mat-icon>person</mat-icon></a>
            <span class="name">Ciao {{user.name}}</span>
            <a class="nav-link active" routerLink="/profilo"> - PROFILO</a>
            <a class="nav-link active" (click)="logout()">- ESCI</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Ricerca per titolo"
            aria-label="Search"
          />
          <button class="btn btn-outline-success cerca" type="submit">Cerca</button>
        </form>
      </div>
    </div>
  </nav>
</header>
