<div class="song-container">
  <div class="w50">
    <div class="image" [ngStyle]="{'background-image': 'url(' + song.image + ')'}"></div>
  </div>
  <div class="w50-2">
    <div class="riep">
      <h2>{{song.title}}</h2>
      <h3>Album: {{song.album}}</h3>
      <h3>Artista: {{song.artist}}</h3>
    </div>
  </div>
</div>
  <div id="lyr-vid">
    <div class="container-testo">
      <h2 class="int-testo">TESTO</h2>
      <p class="testo">{{song.lyrics}}</p>
    </div>
    <div class="vid">
      <iframe width="560" height="315" [src]="transform()" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>
