.h2 {
  justify-content: center;
}

.centro {
  padding: 20px;
}

.tito {
  font-family: "Delicious Handrawn", cursive;
  font-size: 40px;
  text-align: center;
}

.corpo {
  font-family: 'Raleway', sans-serif;
  margin-top: 10px!important;
  font-size: 20px;
}
