<app-carousel></app-carousel>

<div class="centro">
  <h2 class="tito">Benvenuti su Musicando</h2>
  <p class="corpo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet ipsum ab laudantium doloribus architecto quis sit blanditiis ipsam possimus? Quia vitae, saepe rem modi repellat at. Et voluptatum aut eius nisi itaque nobis vero molestiae laudantium impedit unde cupiditate nostrum, quisquam officiis, autem ex ratione quo, doloremque vitae animi illum temporibus excepturi facere ipsum quidem? Dolores non dolorem minima vitae laboriosam mollitia asperiores, doloremque debitis assumenda accusantium facilis molestias quibusdam facere soluta a ratione sed quam. Commodi nam minus repellat eius voluptatibus, ea dolorem distinctio excepturi fugiat quam, quod eum dicta porro placeat consectetur qui soluta! Ipsam saepe optio consequatur adipisci voluptate consectetur ducimus, id esse aut, qui aliquid commodi quidem laborum amet voluptas iste ullam molestias? Sint est ducimus ipsa officiis perspiciatis odio maiores culpa consectetur voluptas. </p>
</div>

<div id="ultimeUscite">
  <h2 class="tito">Le Ultime Uscite</h2>
  <app-song-card [pag]="'home'"></app-song-card>
</div>

<ng-template [ngIf]="name">
  <div id="container-utente">
    <div id="dati-utente">
      <h2>Grazie {{name}} per esserti registrato, ecco i tuoi dati:</h2>
      <ul>
        <li>Nome: {{name}}</li>
        <li>Email: {{email}}</li>
      </ul>
      <button class="btn btn-primary btn-lg" (click)="closeModal()">Chiudi</button>
    </div>
  </div>
</ng-template>
