// primary colors
$primary-color-1: rgb(80, 80, 80);
$primary-color-2: rgb(130, 130, 130);
$primary-color-3: rgb(254, 215, 58);
$primary-color-4: rgb(255, 115, 166);

// secondary colors
$secondary-color-1: white;
$secondary-color-2: black;
