@import "../../../../styles/colors.scss";

.altezza {
  height: 1500px!important;
}

.tito {
  font-family: "Delicious Handrawn", cursive!important;
  font-size: 40px!important;
  text-align: center!important;
  margin-bottom: 40px!important;
  margin-top: 30px;
  text-shadow: none!important;
  color: $primary-color-4!important;
}

.btn {
  background-color: $primary-color-4;
  border: none;
  --bs-btn-hover-bg: $primary-color-2;
}

.h-100, .h-custom {
  background: "../../../../assets/images/pattern.jpg"!important;
  background-repeat: repeat;
  background-color: $primary-color-2;
}

body {
  background: "../../../../assets/images/pattern.jpg"!important;
  background-repeat: repeat;
}

.text-align {
  text-align: center;
  margin-bottom: 20px;
}

.reg {
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
}

.input-comp {
  padding: 0px 40px;
  margin-bottom: 20px;

  .input-lab {
    font-weight: 500;
    font-size: 16px;
    display: block;
  }
}

.input-comp-terms {
  padding: 0px 40px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

input.ng-valid.ng-touched {
  border: 1px solid green;
}

.help {
  color: red;
  padding-left: 14px;
  padding-top: 10px;
}

.input-prime {
  display: block;
  width: 100%;
}

.card {
  border-width: initial;
  border-color: $primary-color-3;
}

input#terms {
  margin-right: 4px;
}

.terms-alert {
  height: 40px;
  text-align: center;
}
