footer {
  height: 150px;
  justify-content: space-around;
  display: flex;
}

h3 {
  color: white;
  font-size: 20px!important;
}

a {
  color: white;
}

svg {
  vertical-align: text-bottom;
  margin-right: 9px;
  margin-top: 2px;
}

