// footer {
//   height: 200px;
//   justify-content: space-around;
//   display: flex;
//   float: left;
//   position: relative;
//   bottom: 0px;
//   width: 100%;
//   //margin-top: 30px;
//   padding: 16px;
// }

// h3 {
//   color: white;
//   font-size: 20px!important;
// }

// a {
//   color: white;
// }

// svg {
//   vertical-align: text-bottom;
//   margin-right: 9px;
//   margin-top: 2px;
// }

// .icona-musicando {
//   width: 50px;
//   margin-bottom: 16px;
//   cursor: pointer;
// }

// .titolo {
//   font-family: 'Permanent Marker', cursive;
//   font-size: 40px;
//   --bs-navbar-brand-hover-color: #fff;
// }

// .footer-center {
//   text-align: center;
// }

@import "../../../styles/colors.scss";

footer {
  height: 150px;
  justify-content: space-around;
  display: flex;
  float: left;
  position: relative;
  bottom: 0px;
  width: 100%;
  // margin-top: 30px;
  padding: 16px;
}

h3 {
  color: $secondary-color-1;
  font-size: 20px!important;
}

a {
  color: $secondary-color-1;
}

svg {
  vertical-align: text-bottom;
  margin-right: 9px;
  margin-top: 2px;
}

.icona-cibando {
  width: 60px;
  margin-right: 5px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 30px;

  .column-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .row-container {
      display: flex;
    }
  }

  .row-container-logo {
    display: flex;
    align-items: center;

    .icona-musicando {
      width: 90px;
      margin-right: 5px;
      align-self: center;
    }

    .logo {
      color: white;
      font-size: 40px;
      text-decoration: none;
      font-family: "Permanent Marker", cursive;
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 480px) {

  #lyr-vid[_ngcontent-rqr-c12] {
    flex-direction: column-reverse;

    .testo {
      text-align: center;
    }
  }

  footer {
    height: auto;

    .footer-container {
      flex-direction: column;

      .column-container {
        margin-bottom: 20px;
      }

      .row-container-logo {
        margin-bottom: 40px;
        flex-direction: column;

        .logo {
          align-self: center;
        }
      }
    }
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  #lyr-vid[_ngcontent-rqr-c12] {
    flex-direction: column-reverse;
  }

  footer {
    height: auto;

    .footer-container {
      flex-direction: column;

      .column-container {
        margin-bottom: 20px;
      }

      .row-container-logo {
        margin-bottom: 40px;
        flex-direction: column;

        .logo {
          align-self: center;
        }
      }
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  #lyr-vid[_ngcontent-rqr-c12] {
    flex-direction: column-reverse;
  }
}
